
header {
  background-color: $backgroundColor;
  height: 90px;
  width: 100%;


  #header-top {
    &::after{
      @include clearfix;
    }
    ul#nav-action{
      float: right;
     li{
      display: inline-block;
      text-decoration: none;

         a{
        text-decoration: none;
        color:#9d9d9d;
        }
      }
    }
  }

}
